--indent 4
--indentcase true
--trimwhitespace always
--stripunusedargs closure-only
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--commas inline
--decimalgrouping 3,6
--elseposition same-line
--guardelse next-line
--header strip
--ifdef no-indent
--import-grouping alpha
--semicolons never
--disable redundantSelf
--enable blankLineAfterImports,blankLinesBetweenImports,conditionalAssignment,docComments,hoistAwait,hoistTry,isEmpty,preferKeyPath,redundantClosure,redundantInternal,redundantOptionalBinding,redundantProperty,sortDeclarations,wrapEnumCases,wrapMultilineStatementBraces
--shortoptionals always
--swiftversion 6.0
--typeattributes prev-line
--varattributes prev-line
--funcattributes prev-line
--wrapconditions before-first
--wrapreturntype preserve
--wrapternary before-operators
