<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>LIVEKIT_WS_URL</key>
	<string>$(LIVEKIT_WS_URL)</string>
	<key>UNIVERSAL_LINK_HOST</key>
	<string>$(UNIVERSAL_LINK_HOST)</string>
	<key>SENTRY_DSN</key>
	<string>$(SENTRY_DSN)</string>
	<key>SENTRY_PROFILES_SAMPLE_RATE</key>
	<string>$(SENTRY_PROFILES_SAMPLE_RATE)</string>
	<key>SENTRY_TRACES_SAMPLE_RATE</key>
	<string>$(SENTRY_TRACES_SAMPLE_RATE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>exe</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
</dict>
</plist>
